
html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
width: 80%;
margin: auto;
height: 75%;
margin-top: 40px;
}

#graphOuter {
    width: 100%;
    height: 400px;
    margin-top: 85px;
}


    .scale p {
        height: 140px;
        text-align: right;
        padding-right: 8px;
    }

.fiveDims .left #graphOuter .scale p:nth-child(2) {
    margin: 0;
    text-align: right;
}

.scale p:last-child {
    height: 20px;
}

#graphInner {
    
background: rgba(255, 255, 255,.6);
padding: 10px;
padding-top: 4px;

}

    #graphInner .bars {
        height: 18px;
margin-top: 10px;
    }

        #graphInner .bars .rank {
            margin: 170px 3% 10px 3%;
            font-size: 2em;
            color: #ccc;
        }

.bar {
margin-right:5px;
    width: 300px;
    height: 100%;
    float: left;
}

#graphInner .bar p {
    color: #fff;
    text-align: center;
    font-size: 2em;
    margin-top: 25%;
}

#graphInner .labels {
    /*margin: 0 3%;
    width: 100%;*/
display: inline-block;
}

#graphInner #nodata {
    height: 200px;
    margin: 0 3%;
    width: 75%;
    float: left;
}

    #graphInner #nodata h4 {
        margin-top: 40%;
        text-align: center;
        font-size: 2em;
        line-height: 1.5em;
    }

#ltst-no-data {
    margin-top: 100px;
    height: 60px;
    text-align: center;
    font-size: 1.5em;
}

#graphInner #ltst-no-label {
    margin-top: 153px;
}


/* CSS BAR GRAPH */


.red {
    background-color: #000;
    opacity: .8;
}

.yellow {
    background-color: #000;
    opacity: .9;
}

.green {
    background-color: #000;
    opacity: .8;
}

.blue {
    background-color: #000;
    opacity: .8;
}

.white {
    background-color: #000;
    opacity: .8;
}

.purple {
    background-color: #000;
    opacity: .9;
}

.scale p {
    display: inline-block;
}

#graphOuter {
position: absolute;
z-index: 1;
max-width: 300px;
right: 100px;
}